@font-face {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 100;
  src: url("../url/Apercu\ Light.woff2") format("woff2"),
    url("../url/Apercu\ Light.woff") format("woff"),
    url("../url/Apercu\ Pro\ Light.otf") format("opentype");
}
@font-face {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  src: url("../url/ApercuPro.woff2") format("woff2"),
    url("../url/ApercuPro.woff") format("woff"),
    url("../url/Apercu\ Pro\ Regular.otf") format("opentype");
}
@font-face {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 600;
  src: url("../url/ApercuPro-Medium.woff2") format("woff2"),
    url("../url/ApercuPro-Medium.woff") format("woff"),
    url("../url/Apercu\ Pro\ Medium.otf") format("opentype");
}
@font-face {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 900;
  src: url("../url/ApercuPro-Bold.woff2") format("woff2"),
    url("../url/ApercuPro-Bold.woff") format("woff"),
    url("../url/Apercu\ Pro\ Bold.otf") format("opentype");
}

@font-face {
  font-family: "Exo2";
  src: url("../url/Exo2-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Yasashii";
  src: url("../url/YasashiiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  src: url("../url/Pretendard-Regular.woff2") format("woff2"),
    url("../url/Pretendard-Regular.woff") format("woff"),
    url("../url/Pretendard-Regular.otf") format("opentype");
}

@font-face {
  font-family: "GothamMedium";
  src: url("../url/GothamMedium.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica";
  src: url("../url/Helvetica Neue Medium Extended.ttf") format("truetype");
}
@font-face {
  font-family: "ProductSans";
  src: url("../url/ProductSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../url/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareRoundOTFR";
  src: url("../url/NanumSquareRoundOTFR.otf") format("opentype");
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../url/SourceSansPro-Regular.ttf") format("truetype");
}
